{
  "extends": ["react-app", "react-app/jest"],
  "ignorePatterns": [".eslintrc", "e2e.test.js", "eslint.js", "typecheck.js"],
  "rules": {

    // Core rules

    "no-unused-vars": "warn",
    "no-console": "warn",
    "prefer-const": "warn",
    "indent": ["warn", 2],
    "comma-dangle": "warn",
    "semi": ["warn", "always"],

    // Best Practice

    "default-case": "warn",
    "no-floating-decimal": "warn",
    "no-implied-eval": "warn",
    "no-invalid-this": "warn",
    "no-iterator": "warn",
    "no-labels": "warn",
    "no-lone-blocks": "warn",
    "no-loop-func": "warn",
    "no-magic-numbers": "warn",
    "no-multi-spaces": "warn",
    "no-multi-str": "warn",
    "no-native-reassign": "warn",
    "no-new-func": "warn",
    "no-new-wrappers": "warn",
    "no-new": "warn",
    "no-octal-escape": "warn",
    "no-param-reassign": "warn",
    "no-process-env": "warn",
    "no-proto": "warn",
    "no-redeclare": "warn",
    "no-return-assign": "warn",
    "no-script-url": "warn",
    "no-self-compare": "warn",
    "no-throw-literal": "warn",
    "no-unused-expressions": "warn",
    "no-useless-call": "warn",
    "no-useless-concat": "warn",
    "no-void": "warn",

    // Stylistic - everything here is a warning because of style.

    "array-bracket-spacing": [ "warn", "always" ],
    "block-spacing": [ "warn", "always" ],
    "brace-style": [ "warn", "1tbs", { "allowSingleLine": false } ],
    "camelcase": "warn",
    "comma-spacing": [ "warn", { "before": false, "after": true } ],
    "comma-style": [ "warn", "last" ],
    "computed-property-spacing": [ "warn", "never" ],
    "consistent-this": [ "warn", "self" ],
    "eol-last": "warn",
    "func-names": "warn",
    "func-style": [ "warn", "declaration" ],
    "id-length": [ "warn", { "min": 2, "max": 32 } ],
    "jsx-quotes": [ "warn", "prefer-double" ],
    "linebreak-style": [ "warn", "unix" ],
    "lines-around-comment": [ "warn", { "beforeBlockComment": true } ],
    "max-depth": [ "warn", 8 ],
    "max-len": [ "warn", 132 ],
    "max-nested-callbacks": [ "warn", 8 ],
    "max-params": [ "warn", 8 ],
    "new-cap": "warn",
    "new-parens": "warn",
    "no-array-constructor": "warn",
    "no-bitwise": "warn",
    "no-continue": "warn",
    "no-inline-comments": "warn",
    "no-lonely-if": "warn",
    "no-mixed-spaces-and-tabs": "warn",
    "no-multiple-empty-lines": "warn",
    "no-negated-condition": "off",
    "no-nested-ternary": "warn",
    "no-new-object": "warn",
    "no-plusplus": "off",
    "no-spaced-func": "warn",
    "no-ternary": "off",
    "no-trailing-spaces": "warn",
    "no-underscore-dangle": "warn",
    "no-unneeded-ternary": "warn",
    "object-curly-spacing": [ "warn", "always" ],
    "one-var": "off",
    "operator-assignment": [ "warn", "never" ],
    "operator-linebreak": [ "warn", "after" ],
    "padded-blocks": [ "warn", "never" ],
    "quote-props": [ "warn", "consistent-as-needed" ],
    "quotes": [ "warn", "single" ],
    "semi-spacing": [ "warn", { "before": false, "after": true }],
    "sort-vars": "off",
    "space-after-keywords": [ "warn", "always" ],
    "space-before-blocks": [ "warn", "always" ],
    "space-before-function-paren": [ "warn", "never" ],
    "space-before-keywords": [ "warn", "always" ],
    "space-in-parens": [ "warn", "never" ],
    "space-infix-ops": [ "warn", { "int32Hint": true } ],
    "space-return-throw-case": "error",
    "space-unary-ops": "error",
    "spaced-comment": [ "warn", "always" ],
    "wrap-regex": "warn"
  }
}
